<#include "header.html">
<table width="100%">  
<tr>  
	<td style="border-bottom:dotted 1px Gray;" colspan="2" >错误提示</td><td></td>  
</tr>  
<tr>  
	<td style="width: 130px" ><img src="/images/error.png" id="error_img" /></td>  
    <td>
    	尊敬的用户：<br />系统出现了异常，请重新登录或刷新页面。  <br />如果问题重复出现，请向信管部反馈。<br /><br />  
        <a id="showErrorMessageButton" href="javascript:showErrorMessage();">详细错误信息</a>  
	</td>  
</tr>  
</table>

<div id="errorMessageDiv"><pre>${status} ${error}</pre></div>  

 <script>  
function showErrorMessage(){  
    $("#errorMessageDiv").toggle();  
}  
$(document).ready(function(){  
    showErrorMessage();  
});
</script>  
<#include "footer.html">