<#include "header.html">

<div id="content">

<form id="form1" name="form1" method="post" action="/user/update">
<table id="msgadd" width="90%" cellspacing="1" bgcolor="#eee">
  <tr>
    <td width="30%">Open ID</td>
    <td class="left"><input class="input" type="text" name="openid" id="openid" value="${user.openid}" /></td>
  </tr>
  <tr>
    <td>用户名称</td>
    <td class="left"><input class="input" name="username" id="username" value="${user.username}" /></td>
  </tr>
  <tr>
    <td>用户名称</td>
    <td class="left"><input class="input" name="userid" id="userid" value="${user.userid}" /></td>
  </tr>
  <tr>
    <td colspan="2"><input type="submit" name="button" id="button" value="提 交" /></td>
  </tr>
</table>
<input type="hidden" name="id" id="id" value="${user.id}" />
</form>

</div>

<#include "footer.html">